services:
  postgres:
    image: rafaelor20/ride-connect-db:v1
    container_name: ride_connect_db
    restart: always
    ports:
      - 5433:5432
    env_file:
      - back-end/.env
    volumes:
      - postgres-volume:/var/lib/postgresql/data

  node:
    container_name: ride_connect_node
    build: ./back-end
    restart: always
    ports:
      - 5000:5000
    depends_on:
      - postgres
    env_file:
      - back-end/.env

  react:
    container_name: ride_connect_react
    build: ./front-end
    env_file:
      - front-end/.env
    volumes:
      - react-volume:/var/www/html

  nginx:
    container_name: ride_connect_nginx
    build: ./nginx
    restart: always
    ports:
      - 8080:80
    volumes:
      - react-volume:/var/www/html
    depends_on:
      - postgres
      - node
      - react

volumes:
  postgres-volume:
  react-volume:
